.four-page {


    .text-wrap {
        width: 100vw;
        height: 100vh;

        p {
            font-size: 24px;
            font-weight: 300;
            letter-spacing: 6px;
        }

        strong {
            font-size: 88px;
            font-weight: 700;
        }
    }

}